<div class="password-strength" *ngIf="password">
  <!-- Barres de force -->
  <div class="strength-bars">
    <div 
      *ngFor="let bar of bars" 
      class="strength-bar"
      [class.active]="bar < strength.score"
      [style.background-color]="bar < strength.score ? strength.color : '#e0e0e0'">
    </div>
  </div>

  <!-- Label -->
  <div class="strength-label" [style.color]="strength.color">
    <mat-icon>{{ strength.score >= 3 ? 'check_circle' : 'info' }}</mat-icon>
    <span>{{ strength.label }}</span>
  </div>

  <!-- Suggestions -->
  <div class="strength-suggestions" *ngIf="showDetails && strength.suggestions.length > 0">
    <p class="suggestions-title">Pour renforcer votre mot de passe :</p>
    <ul>
      <li *ngFor="let suggestion of strength.suggestions">{{ suggestion }}</li>
    </ul>
  </div>
</div>
