<button 
  class="action-button" 
  [style.background-color]="buttonColor"
  [style.color]="iconColor"
  [class.disabled]="disabled"
  [title]="tooltip"
  (click)="onClick($event)"
>
  <!-- Icône d'édition (crayon) -->
  <svg *ngIf="icon === 'edit'" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" [attr.fill]="iconColor">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
  </svg>
  
  <!-- Icône de suppression (corbeille) -->
  <svg *ngIf="icon === 'delete'" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" [attr.fill]="iconColor">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
  </svg>
  
  <!-- Icône d'expansion (flèche vers le bas) -->
  <svg *ngIf="icon === 'expand_more'" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" [attr.fill]="iconColor">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
  </svg>
  
  <!-- Icône de réduction (flèche vers le haut) -->
  <svg *ngIf="icon === 'expand_less'" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" [attr.fill]="iconColor">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
  </svg>
</button>
