<div class="content-feed">
  <div class="content-feed__loading" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Chargement...</p>
  </div>

  <div class="content-feed__error" *ngIf="error && !loading">
    <mat-icon>error</mat-icon>
    <p>{{ error }}</p>
  </div>

  <div class="content-feed__items" *ngIf="!loading && !error">
    <app-mobile-feed-card
      *ngFor="let item of displayedItems; trackBy: trackByItemId"
      [item]="item"
      [duplicating]="isDuplicating(item.id)"
      (cardClick)="onView(item)"
      (viewClick)="onView(item)"
      (duplicateClick)="onDuplicate(item)"
      (deleteClick)="onDelete(item)">
    </app-mobile-feed-card>

    <div class="content-feed__loading-more" *ngIf="loadingMore">
      <mat-spinner diameter="32"></mat-spinner>
      <p>Chargement...</p>
    </div>

    <div class="content-feed__empty" *ngIf="displayedItems.length === 0">
      <mat-icon>inbox</mat-icon>
      <p>Aucun élément à afficher</p>
    </div>
  </div>
</div>
