@import '../../../../shared/styles/global-theme.scss';

.mobile-page {
  min-height: 100vh;
  background-color: var(--background-color);
  padding-top: 56px;
}

@media (max-width: 768px) {
  .mobile-page {
    padding-top: 56px;
  }
}
